xml/payment_info.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TalentForage" type="TalentForageType"/>
  <xs:complexType name="payment_infoType">
    <xs:sequence>
      <xs:element name="user_name">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="SooryaS"/>
            <xs:enumeration value="User2"/>
            <xs:enumeration value="User3"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="phone_number">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="9813276412"/>
            <xs:enumeration value="9876543210"/>
            <xs:enumeration value="6389876543"/c>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="email_address"/>
      <xs:element type="xs:string" name="upi_id"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="user_id" use="optional"/>
  </xs:complexType>
  <xs:complexType name="TalentForageType">
    <xs:sequence>
      <xs:element type="payment_infoType" name="payment_info" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation> Image Data Table</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>